.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #333;
    border: 2px solid #111;
    color: #fff;
    padding: 0.7rem 1rem;
    min-width: 130px;
    justify-content: center;
    border-radius: 8px;
    font-family: var(--font-hero);
    font-weight: bold;
    box-shadow: 2px 2px 0 #000;
    font-size: 0.8rem;
    cursor: pointer;
}

.arrow {
    color: var(--color-accent);
}