/* CSS Variables for colors */
:root {
    --color-wing: dodgerblue;
    /* lighten(dodgerblue, 10%) - Approximated */
    --color-sub-wing: #63adff;
    --color-background: #d6c18b;
    /* darken(#d6c18b, 55%) - Approximated */
    --color-body-dark: #362d12;
    --color-twitter: #4099FF;
    /* lighten(#4099FF, 3%) - Approximated */
    --color-twitter-hover: #55aaff;
}

.container {
    perspective-origin: 50% 50%;
    perspective: 800px;
    position: fixed;
    top: 120px;
    right: 120px;
    z-index: 50;
    pointer-events: none;
    display: none;
}

/* Show only on desktop (e.g. min-width 1024px) */
@media (min-width: 1024px) {
    .container {
        display: block;
    }
}

.butterfly {
    animation: hover 250ms cubic-bezier(.48, .01, .54, 1) infinite;
    animation-direction: alternate;
    animation-fill-mode: reverse;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(50deg) rotateY(20deg) rotateZ(-50deg) translateY(0px);
    width: 30px;
}

.butterfly::before {
    background: var(--color-body-dark);
    border-radius: 50%;
    content: '';
    display: block;
    height: 110px;
    left: 50%;
    margin-left: -10px;
    outline: 1px solid transparent;
    position: absolute;
    top: -15px;
    transform: rotatey(100deg);
    width: 20px;
    z-index: 2;
}

.shadow {
    animation: shadow 250ms cubic-bezier(.48, .01, .54, 1) infinite;
    animation-direction: alternate;
    animation-fill-mode: reverse;
    background: #000;
    border-radius: 50%;
    display: block;
    height: 10px;
    opacity: 0.1;
    transform-origin: 50% 50%;
    transform: translateX(-40px) translateY(100px);
    width: 100px;
}

.wing {
    background: #888;
    display: block;
    opacity: 0.7;
    outline: 1px solid transparent;
    position: absolute;
    top: 0;
}

.wing:first-child {
    animation: leftflap 250ms cubic-bezier(.48, .01, .54, 1) infinite;
    animation-direction: alternate;
    animation-fill-mode: reverse;
    height: 1px;
    left: 0;
    transform: rotateY(-20deg);
    transform-origin: 700% 50%;
    width: 1px;
    z-index: 3;
}

.wing:last-child {
    animation: rightflap 250ms cubic-bezier(.48, .01, .54, 1) infinite;
    animation-direction: alternate;
    animation-fill-mode: reverse;
    right: 0;
    transform: rotateY(200deg);
    z-index: 1;
}

.wing .bit {
    background: var(--color-wing);
}

.wing .bit::after {
    background: var(--color-sub-wing);
}

.wing .bit,
.wing .bit::after {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 100% 50%;
}

.wing .bit:first-child {
    height: 70px;
    text-align: center;
    top: 15px;
    transform: rotateZ(40deg);
    width: 130px;
}

.wing .bit:first-child::after {
    content: '';
    display: inline-block;
    height: 60px;
    left: -30px;
    top: 5px;
    width: 100px;
}

.wing .bit:last-child {
    height: 55px;
    transform: rotateZ(-40deg);
    width: 100px;
}

.wing .bit:last-child::after {
    content: '';
    display: inline-block;
    height: 45px;
    left: -24px;
    top: 5px;
    width: 60px;
    z-index: 1;
}

@keyframes hover {
    0% {
        transform: rotateX(50deg) rotateY(20deg) rotateZ(-50deg) translateZ(0px);
    }

    100% {
        transform: rotateX(50deg) rotateY(20deg) rotateZ(-50deg) translateZ(-3px);
    }
}

@keyframes shadow {
    0% {
        transform: translateX(-40px) translateY(100px) scale(1, 1);
    }

    100% {
        transform: translateX(-40px) translateY(100px) scale(1.1, 1.1);
    }
}

@keyframes leftflap {
    0% {
        transform: rotateY(-20deg);
    }

    100% {
        transform: rotateY(90deg);
    }
}

@keyframes rightflap {
    0% {
        transform: rotateY(200deg);
    }

    100% {
        transform: rotateY(90deg);
    }
}

.twitter {
    background: var(--color-twitter);
    border-radius: 5px;
    bottom: 5px;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    padding: 5px 10px;
    position: absolute;
    right: 5px;
    text-decoration: none;
}

.twitter:hover {
    background: var(--color-twitter-hover);
}