.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.label {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--font-hero);
    font-weight: bold;
}

.select {
    padding: 0.6rem;
    border-radius: 6px;
    border: 2px solid #333;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    font-family: var(--font-hero);
    font-weight: bold;
    box-shadow: 1px 1px 0 #000;
}