.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #333;
    border-top-color: var(--color-pokedex-red);
    border-bottom-color: white;
    border-radius: 50%;
    animation: spin 0.8s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}